*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: rgb(69, 69, 69); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 15, 15); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;